* {
    font-family: "pixel", sans-serif ;
    font-size: large;
    background-color: antiquewhite;
}

h1 {
    font-size: xx-large;
}

body {
    display: grid;
    place-items: center;
}

#addTaskBtn:hover{
    box-shadow: 2px 2px 4px cornflowerblue;
}

#taskInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

li span {
    cursor: pointer;
}

li span[style="text-decoration: line-through;"] {
    color: cornflowerblue;
}

/*
TODO: color change bullet points
 */

@font-face {
    font-family: "pixel";
    src: url("assets/Jersey15-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

